.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .nav-tabs .nav-link {
    color: #555;
    font-weight: bold;
  }
  
  .nav-tabs .nav-link.active {
    color: #007bff;
    // color: white;
    border-radius: 5px;
  }
  
  h1 {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    color: #555;
  }
  